body {
  font-family: sans-serif;
  line-height: 1.5;

  background-color: #f9f9f9;
  color: green;

  width: 980px;
  margin: 0 auto;
}

h1 {
  color: blue;
  text-align: center;
  font-size: 36px;
  margin-bottom: 0;
}

main > h2 {
  color: green;
  text-align: center;
  font-size: 25px;
}
